<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Forum</title>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel='icon' href="" type='image/ico'>
</head>


<body>

    <div id="main">
        <div id="box1"></div>

        <div id="box2">
            <div id="text">
                PROJET <br>FORUM
            </div>
        </div>
        <div id="box3">
            <div id="container">
                <div id="logo">
                    <img src="/img/rs3.png">
                </div>
                <div id="menu">
                    <ul>
                        <a href="/">
                            HOME
                        </a>
                        <a href="/allPosts">
                            NEWS
                        </a>
                        <button class="popup-button" onclick="document.getElementById('popup').style.display = 'Flex'">
                            LOGIN
                        </button>
                        <button class="popup-button"
                            onclick="document.getElementById('popup-sign').style.display = 'Flex'">
                            SIGN UP
                        </button>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <div id="popup" class="bg-popup">
            <div class="popup-content">
                <div class="close-popup" onclick="document.getElementById('popup').style.display = 'None'">
                    +
                </div>
                <div class="login">
                    <form action="/login" method="POST">
                        <input type="text" placeholder="Username" id="username" name="connexion-username">
                        <input type="password" placeholder="password" id="password" name="connexion-password">
                        <a href="#" class="forgot">forgot password?</a>
                        <input type="submit" value="Sign In">
                    </form>
                    <br>
                    <div class="container-signin">
                        <p>Join The Force Now ! <button class=btn-sign-up
                                onclick="document.getElementById('popup-sign').style.display = 'Flex';document.getElementById('popup').style.display = 'None'">Sign
                                Up. </button></p>
                    </div>
                </div>
                <div class="shadow"></div>
            </div>
        </div>
        <div id="popup-sign" class="bg-popup-sign">
            <div class="popup-content-sign">
                <div class="close-popup" onclick="document.getElementById('popup-sign').style.display = 'None'">
                    +
                </div>
                <hr>
                <h1 class="title-register">
                    Register
                </h1>
                <form action="/insertUserInfos" method="POST">
                    <div class="input-container">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" placeholder="Username" name="register-username">
                    </div>
                    <div class="input-container">
                        <i class="fa fa-key icon"></i>
                        <input class="input-field" type="password" placeholder="Password" name="register-password">
                    </div>
                    <hr>
                    <input type="submit" class="registerbtn" value="Register">
                </form>
                <br>
                <br>
                <br>
                <div class="container-signin">
                    <p>Already have an account? <button class=btn-sign-up
                            onclick="document.getElementById('popup').style.display = 'Flex';document.getElementById('popup-sign').style.display = 'None'">Sign
                            in. </button></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    function getCookie(name) {
        if (document.cookie.length == 0)
            return null;

        var regSepCookie = new RegExp('(; )', 'g');
        var cookies = document.cookie.split(regSepCookie);

        for (var i = 0; i < cookies.length; i++) {
            var regInfo = new RegExp('=', 'g');
            var infos = cookies[i].split(regInfo);
            if (infos[0] == name) {
                return unescape(infos[1]);
            }
        }
        return null;
    }
    getCookie("session")
    console.log(getCookie(""))
</script>